<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hive.weatherapi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".home.WeatherApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_cloud_circle_black_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNwljeCCDsdW2L71dHW0v2foKSTrtTgDY"/>

        <activity
            android:name=".home.view.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".home.autofetch.receivers.HourReceiver"/>
        <receiver android:name=".home.autofetch.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".home.autofetch.services.AutoFetchService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>